{% extends "registration/firstpage.html" %}
{% load crispy_forms_tags %}
{% block content %}
<script>
  window.addEventListener("load", function () {
    var modalElement = document.getElementById("regisModal");
    var modal = new bootstrap.Modal(document.getElementById("regisModal"));
    modal.show();

    modalElement.addEventListener("hidden.bs.modal", function () {
      window.location.href = "{% url 'users:first' %}";
    });
  });
</script>
<div
  class="modal fade"
  id="regisModal"
  tabindex="-1"
  aria-labelledby="regisModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="card text-center">
        <div class="card-header">Register Form</div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %} {{form|crispy}}
            <button type="submit" class="btn btn-outline-success">Register</button>
          </form>
          <p>
            already have an account <a href="{% url 'users:login' %}">login</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
